:root {
  --index: calc(1vw + 1vh);
  --transition: 1.5s cubic-bezier(0.05, 0.5, 0, 1);
}

.layers {
  perspective: 50000px;
  overflow: hidden;
}

.layers__container {
  height: 100vh;
  min-height: 500px;
  transform-style: preserve-3d;
  transform: rotateX(var(--moveY)) rotateY(var(--moveX));
  transition: var(--transition);
  will-change: transform;
}

.layers__item {
  position: absolute;
  inset: -5vw;

  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item1 {
  background-image: url(../../../public/layer1grey.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateZ(-100px) scale(1.06);
}

.item2 {
  background-image: url(../../../public/layer2grey.png);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateZ(50px) scale(1);
}

.item3 {
  background-image: url(../../../public/layer3grey.png);
  background-size: calc(var(--index) * 40);
  background-repeat: no-repeat;
  transform: translateZ(350px) scale(0.8);
}

.item4 {
  background-image: url(../../../public/layer4grey.png);
  background-size: calc(var(--index) * 30);
  background-repeat: no-repeat;
  transform: translateZ(380px) scale(0.8);
}

.item5 {
  transform: translateZ(600px) scale(0.8);
}

.content {
  margin-top: calc(var(--index));
  font-size: calc(var(--index) * 4.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: calc(var(--index) * 0.3);
}

.content h1 {
  text-shadow: #333333 2px 0 5px;
}

.content h4 {
  text-transform: none;
  text-shadow: #333333 5px 0 5px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  column-gap: calc(var(--index) * 5.5);
}

.LinkedIn {
  display: contents;
}

.startButton {
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.2);
  padding: calc(var(--index) * 0.4) calc(var(--index) * 3);
  background-color: transparent;
  color: #fff;
  border-radius: 10em;
  border: rgb(255 255 255 / 0.4) 5px solid;
  cursor: pointer;
}

.gmail {
  display: contents;
}
